.foodDetail {
    display: flex;
    margin-top: 30px;
    font-family: 'Marker Felt';
    color: grey;

    .foodinfo {
        width: 40%;
        height: 40%;
        margin: 50px 40px 0 50px;

        img {
            width: 100%;
        }

        p {
            margin-top: 10px;
        }

       
    }

    .instruction {
        
        .make-yourself{
            margin-left: 30px;
            margin-top: 30px;
            width: 700px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .ingredients {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                h3 {
                    margin-bottom: 20px;
                    color: turquoise;
                    font-size: 24px;
                }

                .ingredient-list{
                    display: flex;
                    flex-wrap: wrap;
            
                .each-ingredient {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px;

                    .ingredient-pic {
                        border-radius: 50%;
                        width: 80px;
                        height: 70px;

                    }

                    p {
                        color: grey;
                        font-family: "Gill Sans";
                    }
                }
                }

            }

            .directions {
                h3 {
                    margin: 20px 0 20px 0;
                    color: turquoise;
                    font-size: 24px;
                }

                .direction-list {
                    margin-bottom: 50px;

                    dd {
                        margin: 10px 0 10px 0;
                        font-family: "Gill Sans";
                    
                    }
                }
                
            }
            
        }
    }
    
}