body {
    // background-color: turquoise;

    .mood-query{
        display: flex;
        align-items: center;
        background-color: turquoise;
        // margin: -10px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        h3{
            font-family: 'Marker Felt';
        }
    
        .moods{
            display: flex;
            width: 40%;
            margin-left: 20px;
                
              
        
              .container {
                position: relative;
                width: 30%;
                margin-left: 30px;
              }
              
              .image {
                display: block;
                width: 100%;
                height: auto;
              }
              
              .overlay {
                position: absolute;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: #e6fffa;
              }
              
              .container:hover .overlay {
                opacity: 0.5;
              }
              
              .text {
                color: grey;
                font-size: 16px;
                font-family: 'Marker Felt';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
              }
            
        
        }
        
    }
}


